{% load static %}
{% load i18n %}
{% load mytags %}
{% load mathfilters %}
<!Doctype html>
<html lang="uz">
<head>
    <meta charset="UTF-8-decode">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/UNIMAX.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <title>Unimax - Travel Agency - {{region.name | safe}}</title></head>
<body class="main__body">
<main>
    <div class="hero-country__wrapper" style="background-image: url('{{region.image.url}}')">
        <!-- -------- Header ----------- -->
        <section id="header">
            <header class="header w-screen">
                <!-- Navbar -->
                <div class="container flex gap-8 items-center justify-between">
                    <div class="logo"><a class="logo__link" href="#"><img style="max-height: 75px" src="/static/assets/images/UNIMAX.png" alt="logo"></a>
                    </div>
                    <nav>
                         <div class="navbar">
                            <ul class="flex gap-14 text-white d-none d-lg-flex">
                                <li><a href="{% url 'index' %}">{% trans 'Bosh sahifa' %}</a></li>
                                <li><a href="#services">{% trans 'Xizmatlar' %}</a></li>
                                <li><a href="#gallery">{% trans 'Galereya' %}</a></li>
                                <li><a href="#footer">{% trans 'Aloqa' %}</a></li>
                            </ul>
                            <!--  =------------------ DropDown -----------------------= -->
                            {% get_current_language as lang %}
                             {% get_available_languages as langs %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if lang == 'uz' %}UZ
                                    {% elif lang == 'en' %}EN
                                    {% elif lang == 'ru' %}RU
                                    {% endif %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for l in langs %}
                                    {% if l.0 != lang %}
                                    <a class="dropdown-item" href="{% get_url_lang request l.0 %}">
                                        {% if l.0 == 'uz' %}
                                        <img width="16" height="16" src="/static/assets/images/uz.png" alt="uz"> UZ
                                        {% elif l.0 == 'en' %}
                                        <img width="16" height="16" src="/static/assets/images/uk.png" alt="ru"> EN
                                        {% elif l.0 == 'ru' %}
                                        <img width="16" height="16" src="/static/assets/images/ru.jpg" alt="uk"> RU
                                        {% endif %}
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <div class="mobile-btn d-lg-none" type="button" data-bs-toggle="offcanvas"
                                     data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                                    </svg>
                                </div>
                                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"
                                     aria-labelledby="offcanvasTopLabel">
                                    <div class="offcanvas-header">
                                        <div type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                             aria-label="Close">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="offcanvas-body">
                                        <ul class="flex gap-14 text-black mobile-nav">
                                            <li><a href="#hero">{% trans 'Bosh sahifa' %}</a></li>
                                            <li class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><a
                                                    href="#services">{% trans 'Xizmatlar' %}</a></li>
                                            <li class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><a
                                                    href="#gallery">{% trans 'Galereya' %}</a></li>
                                            <li class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><a
                                                    href="#">{% trans 'Aloqa' %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </section>
        <!-- =------------- HERO SECTION ----------------= -->
        <section class="hero-2__section">
            <div class="container hero-foreign__container">
                <div class="hero-2__info country-info"><h2>{{region__category_title | safe }}</h2>
                    <h2>{{region.title | safe }}</h2>
                    <p>{{region.description | safe }}</p></div>
                <div class="order__card flex items-center justify-between gap-20">
                    <div class="order__organization"><h4>{% trans 'Organizatsiya' %}</h4>
                        <div class="order__logo flex items-center justify-center"><img src="/static/assets/images/UNIMAX.png"
                                                                                       alt="logo"></div>
                    </div>
                    <div class="order__pricelist">
                        <div class="order__price mobile_price"><h4>{% trans 'Narxi' %}</h4>
                            <div>
                                <span>{{region.price}} $</span>
                                <p style="text-align:center" >{% trans 'Odam boshiga' %}</p>
                            </div>
                            <div>
                                <span>{{region.price_sum}} {% trans 'sum' %}</span>
                                <p style="text-align:center" >{% trans 'Odam boshiga' %}</p>
                            </div>
                        </div>
                        <div class="order__period"><h4>{% trans 'Muddati' %}</h4><span>{{region.days}} kun</span></div>
                        <div class="order__date"><h4>{% trans 'Kunlari' %}</h4><span>{{region.start_date}}<br>{{region.end_date}}</span></div>
                    </div>
                    <div style="text-align:center" class="order__duration"><h4>{% trans 'Davomiyligi' %}</h4>
                        <div class="order__sun-moon flex items-center justify-between">
                            <div class="flex items-center gap-2 text-blue-500 my-4"><img src="/static/assets/images/sun.png"
                                                                                         alt="sun"> <span>{{region.duration}} {% trans 'kun' %}</span>
                            </div>
                            <div class="flex items-center gap-2 text-blue-500 my-4"><img src="/static/assets/images/moon.png"
                                                                                         alt="moon"> <span>{{region.duration|add:"-1"}} {% trans 'tun' %}</span>
                            </div>
                        </div>
                        <button class="btn__blue" data-toggle="modal" data-target="#apply">{% trans 'Buyurtma qilish' %}</button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
             <div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-12" style="margin-left: 20px;">
                                <form method="POST" action="{% url 'order' %}">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        <div style="display: flex; justify-content: space-around">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <input type="hidden" name="region" value="{{region.id}}" >
                                        <label style="padding:15px 0 5px 0" for="first_name">First name:</label>
                                        <input style="max-width: 92%" type="text" class="form-control" id="first_name"
                                               aria-describedby="emailHelp" name="first_name" placeholder="Enter first name">
                                        <label style="padding:15px 0 5px 0" for="last_name">Last name:</label>
                                        <input style="max-width: 92%" type="text" name="last_name" class="form-control" id="last_name"
                                               aria-describedby="emailHelp" placeholder="Enter last name">
                                        <label style="padding:15px 0 5px 0"  for="phone_number">Phone number:</label>
                                        <input style="max-width: 92%" type="text" name="phone_number" class="form-control" id="phone_number"
                                               aria-describedby="emailHelp" placeholder="Enter phone number">
                                        <div><h5 style="padding: 15px 0">
                                            {% trans 'Tulov turini tanlang' %}:</h5>
                                        </div>
                                        <div class="flex items-center justify-around gap-4 mobile-modal">
                                            <label>
                                            <input style="border-radius: 6px; overflow: hidden" type="radio" name="pay_form" value=0 checked>
                                            <img style="border-radius: 6px; overflow: hidden" width="130" height="130" src="/static/assets/images/click.png" alt="click logo">
                                        </label>
                                        <label>
                                            <input style="border-radius: 6px; overflow: hidden" type="radio" name="pay_form" value=1 checked>
                                            <img style="border-radius: 6px; border: 1px solid #5897fb; overflow: hidden" width="130" height="130" src="/static/assets/images/visa.jpg" alt="visa logo">
                                        </label>
                                        </div>
                                        <div style="padding: 20px 0" class="flex items-center justify-around gap-4">
                                            <button type="submit" class="btn btn-outline-primary" style="border: 1px solid #00B0E8; margin-top: 5px">Save
                                        </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--    =------------------ attractions ----------------------= -->
    <section class="attractions__section">
        {% if positions %}
            <div class="container mobile_region">
            <!-- -------------- REGIONS SWIPER --------------------= -->
            <!-- Slider main container -->
            <div class="swiper"><!-- Additional required wrapper -->
                <div class="swiper-wrapper"><!-- Slides -->
                    <div class="swiper-slide">
                        <div class="country__card">
                            <div><img src="/static/assets/images/foreign1.png" alt="img"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="country__card">
                            <div><img src="/static/assets/images/foreign2.png" alt="img"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="country__card">
                            <div><img src="/static/assets/images/foreign3.png" alt="img"></div>
                        </div>
                    </div>
                </div><!-- If we need pagination -->
                <div class="swiper-pagination"></div><!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
                {% for position in positions %}
                    <h2>{{position.title | safe }}</h2>
                    <p>{{position.description | safe }}</p>
                    <div class="gallery">
                        <div class="gallery__imgs">
                             {% for image in position.position_img.all %}
                                <div style="max-height: 200px" class="gallery__img"><img src="{{ image.image.url }}" alt="img gallery"></div>
                             {% endfor %}
                        </div>
                    </div>
                {% endfor %}
        </div>
        {% else %}
            {% trans 'No available content' %}
        {% endif %}
    </section>
</main>



<!--      =------------- FOOTER -----------------------= -->
<footer id="footer" class="footer__section">
    <div class="container flex items-start justify-between gap-14 p-12">
        <div class="footer__block ml-8"><h5>{% trans 'Company' %}</h5><a href="/" class="link">{% trans 'Home' %}</a> <a href="country.html"
                                                                                             class="link">{% trans 'Region' %}</a> <a
                href="#services" class="link">{% trans 'Services' %}</a> <a href="#gallery" class="link">{% trans 'Gallery' %}</a></div>
        <div class="footer__block"><h5>{% trans 'Get Help' %}</h5><a href="#" class="link">{% trans 'FAQ' %}</a> <a href="#"
                                                                                        class="link">{% trans 'Returns' %}</a> <a
                href="#" class="link">{% trans 'Payments Options' %}</a> <a href="#" class="link">{% trans 'Order Status' %}</a></div>
        <div class="footer__block mr-8"><h5>{% trans 'Follow Us' %}</h5>
            <div class="flex items-center justify-between gap-8 socialy-links"><a href="#" class="link">
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                </svg>
            </a><a href="#" class="link">
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                </svg>
            </a><a href="#" class="link">
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                </svg>
            </a><a href="#" class="link">
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                    <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z"></path>
                </svg>
            </a></div>
        </div>
    </div>
</footer>
<script src="/static/js/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    slidesPerView: 1,
    spaceBetween: 10,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    breakpoints: {
        320: {
            slidesPerView: 1,
            spaceBetween: 10,
        },
        440: {
            slidesPerView: 2,
            spaceBetween: 15,
        },
        1024: {
            slidesPerView: 3,
            spaceBetween: 20,
        },
    },

    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },
});</script>
</body>
</html>